# ACPI
CONFIG_ACPI=y

# ATA
CONFIG_ATA=y
CONFIG_SATA_AHCI=y

# Block device
CONFIG_BLK_DEV_SR=y

# DMA BUF
CONFIG_DMABUF_HEAPS_SYSTEM=y

# DMI
CONFIG_DMI=y

# DRM
CONFIG_DRM_VKMS=m
CONFIG_DRM_VMWGFX=y
CONFIG_DRM_VMWGFX_FBCON=y

# EFI
CONFIG_EFI_STUB=y

# Filesystem
CONFIG_ISO9660_FS=y

# Fusion MPT
CONFIG_FUSION=y
CONFIG_FUSION_SPI=y

# Network
CONFIG_E1000=y
CONFIG_E1000E=y
CONFIG_VIRTIO_NET=y

# PCI
CONFIG_VIRTIO_PCI=y

# PTP clock (required for E1000E)
CONFIG_PTP_1588_CLOCK=y
CONFIG_PTP_1588_CLOCK_OPTIONAL=y

# Sound
CONFIG_SND_HDA_GENERIC=y
CONFIG_SND_HDA_INTEL=y
CONFIG_SND_INTEL8X0=y

# USB
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_UHCI_HCD=y

# Virtualization
CONFIG_VIRT_DRIVERS=y

# VMware
CONFIG_VMWARE_VMCI=y

# Lindroid
CONFIG_SYSVIPC=y
CONFIG_UTS_NS=y
CONFIG_PID_NS=y
CONFIG_IPC_NS=y
CONFIG_USER_NS=y
CONFIG_NET_NS=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_FREEZER=y
CONFIG_DRM_LINDROID_EVDI=y
